{% extends "base.html" %} {% block content %}
<h3 class="icon-info">Reset de Senha</h3>
<p>Preencha os campos abaixo para redefinir sua senha</p>
<form method="POST" action="{{url_for('processReset')}}">
  <input
    type="hidden"
    name="csrf_token"
    value="{{csrf_token()}}"/>
    <input
    type="email"
    name="pass_reset_email"
    value="{{user}}"
  />
  <input
    type="password"
    name="pass_reset_password"
    placeholder="Digite sua senha:"
    required
  />
  <input
    type="password"
    name="pass_reset_confirm_password"
    placeholder="Agora confirme sua senha:"
    required
  />
  <input type="submit" name="pass_reset_submit" value="Enviar" />
</form>
{% endblock content %}
