{% extends "base.html" %} {% block content %}
<header>
  <h1 class="title_center_margin">
    Será um administrador do sistema? Cadastre-se aqui
  </h1>
</header>

<article>
  <div class="wrap_contact">
    <form
      method="POST"
      action=""
      name="admin_register_form"
      enctype="multipart/form-data"
      class="form_contact"
    >
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
      {{form.hidden_tag()}} {{form.adminName(class="registration_form_input")}}
      {{form.adminSurname(class="registration_form_input")}}
      {{form.adminEmail(class="registration_form_input")}}
      {{form.adminPass(class="registration_form_input")}}
      {{form.confirmPass(class="registration_form_input")}}
      {{form.submit(class="registration_form_input")}} {%for field, errors in
      form.errors.items()%}
      <div style="border: 1px solid red" role="alert">
        <h5>{{ form[field].label }} : {{''.join(errors)}}</h5>
      </div>
      {%endfor%}
    </form>
    <small
      >Possui cadastro? <a class="link" href="{{url_for('admin_login')}}">Login</a></small
    >
  </div>
</article>

{% endblock content %}
