{% extends "base.html" %} {% block content %}
<section>
  <article class="main_api">

    <div class="main_api_image">
      <img src="{{url_for('static', filename='images/cid-api-image.png')}}" alt="API - Buscador Inteligente de CID´s" title="API - Buscador Inteligente de CID´s">
    </div>
    <div class="main_api_headline">
      <div class="api_headline">
        <h1>Integração: Recomendação de CIDs</h1>
        <h3>Você poderá integrar um sistema completo de recomendação de CIDs ao seu processo atual, com poucos cliques, obtendo maior acurácia e agilidade no registro dos dados de seus pacientes</h3>
        <p><span class="api_headline_doc">Documentação da API</span></p>
      </div>
  </article>
  
</section>

<article class="wrap_contact">
    <header class="api_contact_header">
      <p class="icon-send"><span class="api_contact_header_title">Deseja Integrar?</span></p>
      <p><span class="">Preencha os dados abaixo que entraremos em contato</span></p>
    </header>
        <div>
          <form class="form_contact" method="POST" action="{{url_for('postContact')}}">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
            <input type="text" name="contact_api_hospital" placeholder="Hospital que você representa:" required>
            <input type="text" name="contact_api_name" placeholder="Seu nome:" required>
            <input type="email" name="contact_api_email" placeholder="Seu email:" required>
            <input type="text" name="contact_api_tel" placeholder="Seu telefone (XX) XXXXX-XXXX:" required>
            <input type="submit" value="Enviar">
          </form>
        </div> 
</article>

{% endblock content %}
